.container {
    /*テキスト中央揃え*/
    text-align: center; 
    max-width: 600px;
    margin: 30px auto;
}
#timer{
    /*グレーの斜線を引く*/
    border:100px solid #ccc; 
    /*上下に30pxの余白*/
    margin:30px auto;
    /*背景色を黒にする*/
    background-color: black;
    /*文字色を白色にする*/
    color: white;
    /*文字サイズを36pxにする*/
    font-size: 36px;
    /*要素内の余白を50pxにする*/
    padding: 50px;
    /*枠線を角丸に*/
    border-radius: 3px;
    /*ドロップシャドーをつける*/
    box-shadow: 1px 1px 3px rgba(0,0,0, .5);
}
header{
    margin-bottom: 100px;
}
/*dateクラスを指定する*/
.btn {
    /*幅を 100%に*/
    width: 100%;
    background-color: royalblue;
    color: white;
    font-size: 18px;
}